<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <queries>
        <package android:name="org.telegram.messenger" />
        <package android:name="com.radolyn.ayugram" />
        <package android:name="com.exteragram.messenger" />
        <package android:name="org.telegram.plus" />
        <package android:name="ir.ilmili.telegraph" />
        <package android:name="org.telegram.BifToGram" />
        <package android:name="tw.nekomimi.nekogram" />
        <package android:name="xyz.nextalone.nagram" />
        <package android:name="uz.unnarsx.cherrygram" />
        <package android:name="org.telegram.mdgram" />
        <package android:name="org.forkclient.messenger.beta" />
        <package android:name="app.nicegram" />
        <package android:name="top.qwq2333.nullgram" />
        <package android:name="com.iMe.android" />
        <package android:name="ru.dahl.messenger" />
        <package android:name="com.scriptsaz.litegram" />
        <package android:name="org.thunderdog.challegram" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BasaltProxy"
        tools:targetApi="33">
        
        <activity
            android:name="com.basalt.proxy.MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize"
            android:theme="@style/Theme.BasaltProxy">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.basalt.proxy.ProxyTilePreferencesActivity"
            android:exported="true"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:noHistory="true"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="com.basalt.proxy.ProxyService"
            android:exported="false"
            android:stopWithTask="false"
            android:foregroundServiceType="specialUse">
            <property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE" android:value="Proxy Server" />
        </service>

        <service
            android:name="com.basalt.proxy.ProxyTileService"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true"
            android:icon="@drawable/ic_qs_proxy_basalt"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>

        <receiver
            android:name="com.basalt.proxy.BootReceiver"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
